<!--Navbar Start-->
<section class="navbar">
    <div class="nav-left">
        <a href="#" class="logo">
            <h2>BOBR</h2>
        </a>
    </div>

    <div class="nav-menu">
        <a class="nav-link active" href="index.html">Home</a>
        <a class="nav-link" href="pages/gallery.html">Gallery</a>
        <a class="nav-link" href="pages/create.html">Create</a>
        <a class="nav-link" href="pages/team.html">Team</a>
    </div>

    <div class="nav-right">
        <a href="https://x.com/Bober_xyz" target="_blank" aria-label="X (Twitter)">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="https://discord.gg/bobr" target="_blank" aria-label="Discord">
            <i class="fa-brands fa-discord"></i>
        </a>

        <div class="theme-toggle">
            <div class="themes" id="themes">
                <i class="fa-solid fa-cloud-moon" id="dark-mode"></i>
                <i class="fa-solid fa-cloud-sun" id="light-mode"></i>
            </div>
        </div>
        <div class="nav-show-hide">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </div>
    </div>
</section>

<!--Navbar End-->

<!--sidebar Start-->


<section class="navbar sidebar">
    <div class="nav-left">
        <a href="#" class="logo">
            <h2>BOBR</h2>
        </a>
    </div>

    <div class="nav-menu">
        <a class="nav-link active" href="index.html">Home</a>
        <a class="nav-link" href="pages/gallery.html">Gallery</a>
        <a class="nav-link" href="pages/create.html">Create</a>
        <a class="nav-link" href="pages/team.html">Team</a>
    </div>

    <div class="nav-right">
        <a href="https://x.com/Bober_xyz" target="_blank" aria-label="X (Twitter)">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="https://discord.gg/bobr" target="_blank" aria-label="Discord">
            <i class="fa-brands fa-discord"></i>
        </a>

        <div class="theme-toggle">
            <div class="themes" id="themes">
                <i class="fa-solid fa-cloud-moon" id="dark-mode"></i>
                <i class="fa-solid fa-cloud-sun" id="light-mode"></i>
            </div>
        </div>
    </div>
</section>

<!--sidebar End-->